<div class="w-[149px] h-full bg-gray-800 text-white fixed top-0 left-0 flex flex-col">
  <div class="p-4 text-2xl font-semibold">
    Sidebar
  </div>
  <nav class="flex-1 p-2">
    <ul>
      <li class="my-2">
        <a routerLink="/" class="block p-2 hover:bg-gray-700 rounded">Home</a>
      </li>
      <li class="my-2">
        <a routerLink="/about" class="block p-2 hover:bg-gray-700 rounded">About</a>
      </li>
      <li class="my-2">
        <a routerLink="/contact" class="block p-2 hover:bg-gray-700 rounded">Contact</a>
      </li>
    </ul>
  </nav>
</div>
